$primary: #81173d;
$secondary: #000;

$table-bg:transparent;

$table-color:$primary;

$table-hover-color: #fff;
$table-hover-bg-factor: .075;
$table-hover-bg:$primary;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1130px,
);

$paragraph-margin-bottom: 0.9rem;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
